<%- include("./includes/header.ejs", {settings}) %>
<body class=" mt-4 d-flex align-items-center justify-content-center">

    <div class="card login-card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h3 class="text-center mb-4"><%=settings.company_name ? settings.company_name + " - " : ""%><%= global.i18n.translate(settings.lang, "change_password") %></h3>
            <%- include("./includes/first_login.ejs", {settings}) %>
            <form action="/change_password" method="post">
                <div class="mb-3">
                    <label for="old_password" class="form-label"><%= global.i18n.translate(settings.lang, "old_password") %></label>
                    <input type="password" class="form-control" id="old_password" placeholder="••••••••" required name="old_password">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label"><%= global.i18n.translate(settings.lang, "password") %></label>
                    <input type="password" class="form-control" id="password" placeholder="••••••••" required name="password">
                </div>

                <div class="mb-3">
                    <label for="password_repeat" class="form-label"><%= global.i18n.translate(settings.lang, "password_repeat") %></label>
                    <input type="password" class="form-control" id="password_repeat" placeholder="••••••••" required name="password_repeat">
                </div>
                <% for(const message of messages["change_password"] || []) { %>
                    <%- message %>
                <% } %>
                <button type="submit" class="btn btn-primary w-100">
                    <%= global.i18n.translate(settings.lang, "change_password") %>
                </button>
            </form>
        </div>
    </div>
</body>
<%- include("./includes/footer.ejs") %>